<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PlanIT</title>

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  

</head>

<body>


  <!-- Page Content -->
<center>
        <div class="jumbotron" style="height: 100vh;">
            <div>
            <h1 class="display-4">PlanIT</h1>
            <p class="lead">Plan your way ahead!</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <p class="lead" style="margin-top: 20vh;">
              <a class="btn btn-primary btn-lg" href="/maps" role="button">Go to Maps</a>
              <a class="btn btn-primary btn-lg" href="/report" role="button">Report a Crime</a>

            </p>
          </div></div>

        </center>
  <!-- Bootstrap core JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

</body>

</html>