<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PlanIT</title>

  <!-- Bootstrap core CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>


  <!-- Page Content -->

    <div class="container"> 
        <h1> 
      <button class='btn btn-success pull-right'> 
        <i class="fas fa-arrow-left"></i>
          </button> 
    </h1> 
    </div> 
    <center><div class="jumbotron">
      <h1 class="display-4">PlanIT</h1>
      <p class="lead">Plan your way ahead!</p>
      <hr class="my-4">
      <p>It uses utility classes for aphy and spacing to space content out within the larger container.</p>

    </div></center>
    <div class="container">
    <form class="form-inline" action="#" onsubmit="sendData(); return false">
      <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
        <option title='nm_pol' value='nm_pol' selected='selected'>Select Location</option>
        <option title='CHITRANJAN PARK' value='CHITRANJAN PARK'>CHITRANJAN PARK</option>
        <option title='DABRI' value='DABRI'>DABRI</option>
        <option title='MALVIYA NAGAR' value='MALVIYA NAGAR'>MALVIYA NAGAR</option>
        <option title='CHANDNI MAHAL' value='CHANDNI MAHAL'>CHANDNI MAHAL</option>
        <option title='MODEL TOWN' value='MODEL TOWN'>MODEL TOWN</option>
        <option title='ANANDVIHAR' value='ANANDVIHAR'>ANANDVIHAR</option>
        <option title='KASHMERE GATE' value='KASHMERE GATE'>KASHMERE GATE</option>
        <option title='GOVIND PURI' value='GOVIND PURI'>GOVIND PURI</option>
        <option title='BINDAPUR' value='BINDAPUR'>BINDAPUR</option>
        <option title='NEW FRIENDS COLONY' value='NEW FRIENDS COLONY'>NEW FRIENDS COLONY</option>
        <option title='SARITA VIHAR' value='SARITA VIHAR'>SARITA VIHAR</option>
        <option title='TIMARPUR' value='TIMARPUR'>TIMARPUR</option>
        <option title='KANJHAWALA' value='KANJHAWALA'>KANJHAWALA</option>
        <option title='ANAND PARBAT' value='ANAND PARBAT'>ANAND PARBAT</option>
        <option title='SAGARPUR' value='SAGARPUR'>SAGARPUR</option>
        <option title='PRASHANT VIHAR' value='PRASHANT VIHAR'>PRASHANT VIHAR</option>
        <option title='SOUTH CAMPUS' value='SOUTH CAMPUS'>SOUTH CAMPUS</option>
        <option title='ROHINI SOUTH' value='ROHINI SOUTH'>ROHINI SOUTH</option>
        <option title='PUNJABI BAGH' value='PUNJABI BAGH'>PUNJABI BAGH</option>
        <option title='DWARKA NORTH' value='DWARKA NORTH'>DWARKA NORTH</option>
        <option title='BURARI' value='BURARI'>BURARI</option>
        <option title='JAMA MASJID' value='JAMA MASJID'>JAMA MASJID</option>
        <option title='ADRASH NAGAR' value='ADRASH NAGAR'>ADRASH NAGAR</option>
        <option title='CHANAKYAPURI' value='CHANAKYAPURI'>CHANAKYAPURI</option>
        <option title='PANDAV NAGAR' value='PANDAV NAGAR'>PANDAV NAGAR</option>
        <option title='MIANWALI NAGAR' value='MIANWALI NAGAR'>MIANWALI NAGAR</option>
        <option title='FATEHPUR BERI' value='FATEHPUR BERI'>FATEHPUR BERI</option>
        <option title='NABI KARIM' value='NABI KARIM'>NABI KARIM</option>
        <option title='RAJOURI GARDEN' value='RAJOURI GARDEN'>RAJOURI GARDEN</option>
        <option title='JAHANGIR PURI' value='JAHANGIR PURI'>JAHANGIR PURI</option>
        <option title='KAMLA MARKET' value='KAMLA MARKET'>KAMLA MARKET</option>
        <option title='BARAKHAMBA ROAD' value='BARAKHAMBA ROAD'>BARAKHAMBA ROAD</option>
        <option title='SAFDARJUNG ENCLAVE' value='SAFDARJUNG ENCLAVE'>SAFDARJUNG ENCLAVE</option>
        <option title='MUKHERJI NAGAR' value='MUKHERJI NAGAR'>MUKHERJI NAGAR</option>
        <option title='FARASH BAZAR' value='FARASH BAZAR'>FARASH BAZAR</option>
        <option title='KALKAJI' value='KALKAJI'>KALKAJI</option>
        <option title='KALKAJI' value='KALKAJI'>KALKAJI</option>
        <option title='PARSHAD NAGAR' value='PARSHAD NAGAR'>PARSHAD NAGAR</option>
        <option title='LODHI COLONY' value='LODHI COLONY'>LODHI COLONY</option>
        <option title='INDERPURI' value='INDERPURI'>INDERPURI</option>
        <option title='OKHLA' value='OKHLA'>OKHLA</option>
        <option title='SAMAYPURBADLI' value='SAMAYPURBADLI'>SAMAYPURBADLI</option>
        <option title='JAFFARPUR KALAN' value='JAFFARPUR KALAN'>JAFFARPUR KALAN</option>
        <option title='MAYA PURI' value='MAYA PURI'>MAYA PURI</option>
        <option title='AMAN VIHAR' value='AMAN VIHAR'>AMAN VIHAR</option>
        <option title='VIJAY VIHAR' value='VIJAY VIHAR'>VIJAY VIHAR</option>
        <option title='AMAR COLONY' value='AMAR COLONY'>AMAR COLONY</option>
        <option title='ALIPUR' value='ALIPUR'>ALIPUR</option>
        <option title='MAHENDRA PARK' value='MAHENDRA PARK'>MAHENDRA PARK</option>
        <option title='VASANT KUNJ SOUTH' value='VASANT KUNJ SOUTH'>VASANT KUNJ SOUTH</option>
        <option title='BHALSWA DAIRY' value='BHALSWA DAIRY'>BHALSWA DAIRY</option>
        <option title='BAWANA' value='BAWANA'>BAWANA</option>
        <option title='BEGUM PUR' value='BEGUM PUR'>BEGUM PUR</option>
        <option title='NARAINA' value='NARAINA'>NARAINA</option>
        <option title='NEB SARAI' value='NEB SARAI'>NEB SARAI</option>
        <option title='RAJINDER NAGAR' value='RAJINDER NAGAR'>RAJINDER NAGAR</option>
        <option title='SHALIMAR BAGH' value='SHALIMAR BAGH'>SHALIMAR BAGH</option>
        <option title='KESHAV PURAM' value='KESHAV PURAM'>KESHAV PURAM</option>
        <option title='RANI BAGH' value='RANI BAGH'>RANI BAGH</option>
        <option title='BARA HINDU RAO' value='BARA HINDU RAO'>BARA HINDU RAO</option>
        <option title='CONNAUGHT PLACE' value='CONNAUGHT PLACE'>CONNAUGHT PLACE</option>
        <option title='H. N. DIN' value='H. N. DIN'>H. N. DIN</option>
        <option title='DARYA GANJ' value='DARYA GANJ'>DARYA GANJ</option>
        <option title='MANGOLPURI' value='MANGOLPURI'>MANGOLPURI</option>
        <option title='VIVEKVIHAR' value='VIVEKVIHAR'>VIVEKVIHAR</option>
        <option title='LAHORI GATE' value='LAHORI GATE'>LAHORI GATE</option>
        <option title='SULTAN PURI' value='SULTAN PURI'>SULTAN PURI</option>
        <option title='GEETA COLONY' value='GEETA COLONY'>GEETA COLONY</option>
        <option title='CIVIL LINES' value='CIVIL LINES'>CIVIL LINES</option>
        <option title='ASHOK VIHAR' value='ASHOK VIHAR'>ASHOK VIHAR</option>
        <option title='TILAK NAGAR' value='TILAK NAGAR'>TILAK NAGAR</option>
        <option title='PALAM VILLAGE' value='PALAM VILLAGE'>PALAM VILLAGE</option>
        <option title='MOTI NAGAR' value='MOTI NAGAR'>MOTI NAGAR</option>
        <option title='HARI NAGAR' value='HARI NAGAR'>HARI NAGAR</option>
        <option title='PAHARGANJ' value='PAHARGANJ'>PAHARGANJ</option>
        <option title='SADAR BAZAR' value='SADAR BAZAR'>SADAR BAZAR</option>
        <option title='SAROJINI NAGAR' value='SAROJINI NAGAR'>SAROJINI NAGAR</option>
        <option title='NAJAFGARH' value='NAJAFGARH'>NAJAFGARH</option>
        <option title='KALYANPURI' value='KALYANPURI'>KALYANPURI</option>
        <option title='BADAR PUR' value='BADAR PUR'>BADAR PUR</option>
        <option title='SUBHASH PLACE' value='SUBHASH PLACE'>SUBHASH PLACE</option>
        <option title='SUBZIMANDI' value='SUBZIMANDI'>SUBZIMANDI</option>
        <option title='MAURICE NAGAR' value='MAURICE NAGAR'>MAURICE NAGAR</option>
        <option title='MANDIR MARG' value='MANDIR MARG'>MANDIR MARG</option>
        <option title='TUGLAK ROAD' value='TUGLAK ROAD'>TUGLAK ROAD</option>
        <option title='LAJPAT NAGAR' value='LAJPAT NAGAR'>LAJPAT NAGAR</option>
        <option title='KRISHNA NAGAR' value='KRISHNA NAGAR'>KRISHNA NAGAR</option>
        <option title='PRASHANT VIHAR' value='PRASHANT VIHAR'>PRASHANT VIHAR</option>
        <option title='ANANDVIHAR' value='ANANDVIHAR'>ANANDVIHAR</option>
        <option title='SWARUP NAGAR' value='SWARUP NAGAR'>SWARUP NAGAR</option>
        <option title='GREATER KAILASH' value='GREATER KAILASH'>GREATER KAILASH</option>
        <option title='VIKAS PURI' value='VIKAS PURI'>VIKAS PURI</option>
        <option title='UTTAM NAGAR' value='UTTAM NAGAR'>UTTAM NAGAR</option>
        <option title='DEFENCE COLONY' value='DEFENCE COLONY'>DEFENCE COLONY</option>
        <option title='JAMIA NAGAR' value='JAMIA NAGAR'>JAMIA NAGAR</option>
        <option title='KASHMERE GATE' value='KASHMERE GATE'>KASHMERE GATE</option>
        <option title='PULPRAHLAD PUR' value='PULPRAHLAD PUR'>PULPRAHLAD PUR</option>
        <option title='SARITA VIHAR' value='SARITA VIHAR'>SARITA VIHAR</option>
        <option title='NANGLOI' value='NANGLOI'>NANGLOI</option>
        <option title='SAFDARJUNG ENCLAVE' value='SAFDARJUNG ENCLAVE'>SAFDARJUNG ENCLAVE</option>
        <option title='HAUZQAZI' value='HAUZQAZI'>HAUZQAZI</option>
        <option title='DWARKA SOUTH' value='DWARKA SOUTH'>DWARKA SOUTH</option>
        <option title='PASCHIM VIHAR' value='PASCHIM VIHAR'>PASCHIM VIHAR</option>
        <option title='BINDAPUR' value='BINDAPUR'>BINDAPUR</option>
        <option title='TILAK MARG' value='TILAK MARG'>TILAK MARG</option>
        <option title='RAJOURI GARDEN' value='RAJOURI GARDEN'>RAJOURI GARDEN</option>
        <option title='SANGAM VIHAR' value='SANGAM VIHAR'>SANGAM VIHAR</option>
        <option title='MAYURVIHAR' value='MAYURVIHAR'>MAYURVIHAR</option>
        <option title='SHAHBAD DAIRY' value='SHAHBAD DAIRY'>SHAHBAD DAIRY</option>
        <option title='GANDHI NAGAR' value='GANDHI NAGAR'>GANDHI NAGAR</option>
        <option title='DWARKA SEC-23' value='DWARKA SEC-23'>DWARKA SEC-23</option>
        <option title='RANJIT NAGAR' value='RANJIT NAGAR'>RANJIT NAGAR</option>
        <option title='RANHOLA' value='RANHOLA'>RANHOLA</option>
        <option title='SAKET' value='SAKET'>SAKET</option>
        <option title='SHAKARPUR' value='SHAKARPUR'>SHAKARPUR</option>
        <option title='PREETVIHAR' value='PREETVIHAR'>PREETVIHAR</option>
        <option title='KIRTI NAGAR' value='KIRTI NAGAR'>KIRTI NAGAR</option>
        <option title='HAUZ KHAS' value='HAUZ KHAS'>HAUZ KHAS</option>
        <option title='BAWANA' value='BAWANA'>BAWANA</option>
        <option title='KN KATJU MARG' value='KN KATJU MARG'>KN KATJU MARG</option>
        <option title='I.P. ESTATE' value='I.P. ESTATE'>I.P. ESTATE</option>
        <option title='KOTALA MUBARAK PUR' value='KOTALA MUBARAK PUR'>KOTALA MUBARAK PUR</option>
        <option title='DELHI CANTT' value='DELHI CANTT'>DELHI CANTT</option>
        <option title='D.B.G ROAD' value='D.B.G ROAD'>D.B.G ROAD</option>
        <option title='KHYALA' value='KHYALA'>KHYALA</option>
        <option title='JAGATPURI' value='JAGATPURI'>JAGATPURI</option>
        <option title='PATEL NAGAR' value='PATEL NAGAR'>PATEL NAGAR</option>
        <option title='VASANT VIHAR' value='VASANT VIHAR'>VASANT VIHAR</option>
        <option title='KAROL BAGH' value='KAROL BAGH'>KAROL BAGH</option>
        <option title='SUNLIGHT COLONY' value='SUNLIGHT COLONY'>SUNLIGHT COLONY</option>
        <option title='NARELA' value='NARELA'>NARELA</option>
        <option title='NEW ASHOK NAGAR' value='NEW ASHOK NAGAR'>NEW ASHOK NAGAR</option>
        <option title='PARLIAMENT STREET' value='PARLIAMENT STREET'>PARLIAMENT STREET</option>
        <option title='NIHAL VIHAR' value='NIHAL VIHAR'>NIHAL VIHAR</option>
        <option title='MADHUVIHAR' value='MADHUVIHAR'>MADHUVIHAR</option>
        <option title='BHARAT NAGAR' value='BHARAT NAGAR'>BHARAT NAGAR</option>
        <option title='MANDAWALI' value='MANDAWALI'>MANDAWALI</option>
        <option title='BABA HARI DAS NAGAR' value='BABA HARI DAS NAGAR'>BABA HARI DAS NAGAR</option>
        <option title='CHHAWLA' value='CHHAWLA'>CHHAWLA</option>
        <option title='MEHRAULI' value='MEHRAULI'>MEHRAULI</option>
        <option title='MAURYA ENCLAVE' value='MAURYA ENCLAVE'>MAURYA ENCLAVE</option>
        <option title='JANAK PURI' value='JANAK PURI'>JANAK PURI</option>
        <option title='SARAI ROHILLA' value='SARAI ROHILLA'>SARAI ROHILLA</option>
        <option title='GULABIBAGH' value='GULABIBAGH'>GULABIBAGH</option>
        <option title='ROOP NAGAR' value='ROOP NAGAR'>ROOP NAGAR</option>
        <option title='VASANT KUNJ NORTH' value='VASANT KUNJ NORTH'>VASANT KUNJ NORTH</option>
        <option title='ROHINI NORTH' value='ROHINI NORTH'>ROHINI NORTH</option>
        <option title='GHAZIPUR' value='GHAZIPUR'>GHAZIPUR</option>
        <option title='SEEMAPURI' value='SEEMAPURI'>SEEMAPURI</option>
        <option title='SEELAMPUR' value='SEELAMPUR'>SEELAMPUR</option>
        <option title='MANSAROVAR PARK' value='MANSAROVAR PARK'>MANSAROVAR PARK</option>
        <option title='SHAHDARA' value='SHAHDARA'>SHAHDARA</option>
        <option title='KHAJURIKHAS' value='KHAJURIKHAS'>KHAJURIKHAS</option>
        <option title='JYOTI NAGAR' value='JYOTI NAGAR'>JYOTI NAGAR</option>
        <option title='HARSH VIHAR' value='HARSH VIHAR'>HARSH VIHAR</option>
        <option title='MUNDKA' value='MUNDKA'>MUNDKA</option>
        <option title='BHAJANPURI' value='BHAJANPURI'>BHAJANPURI</option>
        <option title='ZAFRABAD' value='ZAFRABAD'>ZAFRABAD</option>
        <option title='WELCOME' value='WELCOME'>WELCOME</option>
        <option title='NANDNAGARI' value='NANDNAGARI'>NANDNAGARI</option>
        <option title='G.T.B. ENCLAVE' value='G.T.B. ENCLAVE'>G.T.B. ENCLAVE</option>
        <option title='NEW USMANPUR' value='NEW USMANPUR'>NEW USMANPUR</option>
        <option title='SONIA VIHAR' value='SONIA VIHAR'>SONIA VIHAR</option>
        <option title='KARAWAL NAGAR' value='KARAWAL NAGAR'>KARAWAL NAGAR</option>
        <option title='GOKULPURI' value='GOKULPURI'>GOKULPURI</option>
      </select>

    

      <select name='crime' class="custom-select my-1 mr-sm-2">
        <option selected='selected'>Type Of Crime</option>
        <option title='murder' value='murder'>murder</option>
        <option title='rape' value='rape'>rape</option>
        <option title='gangrape' value='gangrape'>gangrape</option>
        <option title='robbery' value='robbery'>robbery</option>
        <option title='theft' value='theft'>theft</option>
        <option title='assualt murders' value='assualt murders'>assualt murders</option>
        <option title='sexual harassement' value='sexual harassement'>sexual harassement</option>
      </select>
    

    
      <button type="submit" class="btn btn-primary my-1">Submit</button>
    </form>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    function sendData() {
      var e = document.getElementById("inlineFormCustomSelectPref");
      var cityName = e.options[e.selectedIndex].value;
      const url = "https://localhost:3000/editReport";
      const data = {
        "city": cityName
      };
      console.log(cityName);
      axios({method: 'post', url: url, data: data}).then(
          
        ).catch(err=>console.log(err));
        thankyou();
      
    }

    function thankyou() {
      alert("Thank you! for making Delhi a safer place");
      window.location.replace("https://192.168.24.47:3000/");
    }
    
  </script>

</body>

</html>